{% include 'fils/_includes/menu.html.twig' %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="slider-area" id="container">
                <div class="bend niceties preview-2">
                    <div id="ensign-nivoslider-3" class="slides">

                        <img src=" {{ asset('fils/image_inig/11.png') }}" alt="" title="#slider-direction-1" />
                        <img src=" {{ asset('fils/image_inig/22.png') }}" alt="" title="#slider-direction-2" />
                       <img src=" {{ asset('fils/image_inig/33.png') }}" alt="" title="#slider-direction-1" />
                        <img src=" {{ asset('fils/image_inig/44.png') }}" alt="" title="#slider-direction-2" />
                        <img src=" {{ asset('fils/image_inig/55.png') }}" alt="" title="#slider-direction-1" />
                    </div>
                    <!-- direction 1 -->
                    <div id="slider-direction-1" class="t-cn slider-direction">
                        <div class="slider-progress"></div>
                        <div class="slider-content t-cn s-tb slider-1">
                            <div class="title-container s-tb-c title-compress">
                                {#<h1 align="center" style="color: black" class="animated bounceInDown title_2">BIENVENUE CHEZ NOUS</h1>
                                <a href="#" class="link-st"><span>NOUS CONTACTER</span></a>#}
                            </div>
                        </div>
                    </div>
                    <!-- direction 2 -->
                    <div id="slider-direction-2" class="slider-direction">
                        <div class="slider-progress"></div>
                        <div class="slider-content t-cn s-tb slider-1">
                            <div class="title-container s-tb-c title-compress">

                               {# <h1 align="center" class="animated bounceInDown title_2">NOUS SOMMES HEUREUX DE VOUS RENCONTRER</h1>
                                <a href="#" class="link-st"><span>NOUS CONTACTER</span></a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>